<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>Inventory</h1>
    <h2>S3 Buckets</h2>
    <table class="table">
        <thead>
        <tr>
            <th>BucketName</th>
            <th>CreationDate</th>
        </tr>
        </thead>
        <tbody>
        {{range .Bucket}}
            <tr>
                <td>{{.BucketName}}</td>
                <td>{{.CreationDate}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>
    <h2>Lambda</h2>
    <table class="table">
        <thead>
        <tr>
            <th>FunctionName</th>
            <th>FunctionName</th>
        </tr>
        </thead>
        <tbody>
        {{range .Lambda}}
            <tr>
                <td>{{.FunctionName}}</td>
                <td>{{.FunctionName}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>
    <h2>DynamoDB</h2>
    <table class="table">
        <thead>
        <tr>
            <th>DatabaseName</th>
        </tr>
        </thead>
        <tbody>
        {{range .DynamoDB}}
        <tr>
            <td>{{.DatabaseName}}</td>
        </tr>
        </thead>
        <tbody>
        {{end}}
    </table>
    <h2>API Gateway Endpoints</h2>
    <table class="table">
        <thead>
        <tr>
            <th>API Name</th>
            <th>API Description</th>
        </tr>
        </thead>
        <tbody>
        {{range .ApiGateway}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Description}}</td>
        </tr>
        </thead>
        <tbody>
        {{end}}
    </table>
    <h2>CloudFront EndPoints</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Stack ID</th>
            <th>Stack ARN</th>
        </tr>
        </thead>
        <tbody>
        {{range .CloudFront}}
        <tr>
            <td>{{.ID}}</td>
            <td>{{.ARN}}</td>
        </tr>
        </thead>
        <tbody>
        {{end}}
    </table>
    <h2>CloudFormation StackSets</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Stack Set Name</th>
            <th>Stack Set Description</th>
        </tr>
        </thead>
        <tbody>
        {{range .CFStackSets}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Description}}</td>
        </tr>
        </thead>
        <tbody>
        {{end}}
    </table>
    <h2>CloudFormation Stacks</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Stack Name</th>
            <th>Stack ID</th>
        </tr>
        </thead>
        <tbody>
        {{range .CFStacks}}
        <tr>
            <td>{{.Name}}</td>
            <td>{{.Description}}</td>
        </tr>
        </thead>
        <tbody>
        {{end}}
    </table>
</div>
</body>
</html>